:root {
  --PI: 3.14159265358979;
}

.mouthTop,
.mouthBottom {
  animation-duration: 110ms;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.mouthTop {
  animation-name: eating;
}

.mouthBottom {
  animation-name: eating;
}

.mouthTopDying,
.mouthBottomDying {
  animation-duration: 1000ms;
  animation-timing-function: linear;
  /* animation-direction: alternate; */
  /* animation-iteration-count: infinite; */
}

.mouthTopDying {
  animation-name: dying;
}

.mouthBottomDying {
  animation-name: dying;
}

@keyframes eating {
  0% {
    stroke-dasharray: calc((50 * var(--PI) * 2 * 4) / 100)
      calc(var(--PI) * 2 * 4);
  }
  50% {
    stroke-dasharray: calc(((50 - (20 / 360) * 100) * var(--PI) * 2 * 4) / 100)
      calc(var(--PI) * 2 * 4);
  }
  100% {
    stroke-dasharray: calc(((50 - (40 / 360) * 100) * var(--PI) * 2 * 4) / 100)
      calc(var(--PI) * 2 * 4);
  }
}
@keyframes dying {
  0% {
    stroke-dasharray: calc((50 * var(--PI) * 2 * 4) / 100)
      calc(var(--PI) * 2 * 4);
  }
  50% {
    stroke-dasharray: calc(((50 - (20 / 360) * 100) * var(--PI) * 2 * 4) / 100)
      calc(var(--PI) * 2 * 4);
  }
  100% {
    stroke-dasharray: 0 calc(var(--PI) * 2 * 4);
  }
}
